doctype html
head
	meta(charset="utf-8")
	title Tests
	link(rel='shortcut icon', type='image/x-icon', href='common/images/favicon.ico')
	link(rel="stylesheet", href="node_modules/mocha/mocha.css")

body
	#mocha

	script(src="node_modules/mocha/mocha.js")
	script(src="node_modules/chai/chai.js")
	script(src="node_modules/sinon/pkg/sinon-1.12.1.js")
	script(src="node_modules/sinon-chai/lib/sinon-chai.js")
	script(src="node_modules/chai-as-promised/lib/chai-as-promised.js")
	script(src="node_modules/jquery/dist/jquery.min.js")
	script(src="node_modules/chai-jquery/chai-jquery.js")
	script(src="node_modules/source-map-support/browser-source-map-support.js")

	script.
		if (location.hash.indexOf('with-sourcemaps')) sourceMapSupport.install();

		window.mocha.setup({
			'ui': 'bdd',
			'timeout': 5000
		});
		window.expect = chai.expect;

		window.chai.config.includeStack = true;
		window.chai.config.showDiff = false;
		window.chai.config.truncateThreshold = 2048;

		beforeEach(function() {
			this.timeout(5000);
			this.sinon = sinon.sandbox.create();
		});

		afterEach(function() {
			this.sinon.restore();
		});

	script(src="test/lib.js")
	script(src="test/helpers.js")

	each file in testFiles()
		script(src=file)

	script.
		runMocha();

		function runMocha() {
			before(function() {
				window.H = this.helpers;
			});

			var myGlobals = ['H'];
			var ieIframeNameGlobals = ['app', 'submit-trap'];
			var ieFirebaseGlobals = ['pLPCommand1', 'pRTLPCB1', 'pLPCommand2', 'pRTLPCB2'];
			var allGlobals = myGlobals.concat(ieIframeNameGlobals).concat(ieFirebaseGlobals);

			window.mocha.checkLeaks();
			window.mocha.globals(allGlobals);
			window.mocha.run();
		}
