doctype html
head
	meta(charset="utf-8")
	title Tests:
	link(rel="stylesheet", href="node_modules/mocha/mocha.css")

body
	#mocha

	script(src="node_modules/mocha/mocha.js")
	script(src="node_modules/chai/chai.js")
	script(src="node_modules/sinon/pkg/sinon-1.12.1.js")
	script(src="node_modules/sinon-chai/lib/sinon-chai.js")
	script(src="node_modules/source-map-support/browser-source-map-support.js")

	script.
		sourceMapSupport.install();
		window.mocha.setup('bdd');
		window.mocha.reporter('html');
		window.expect = chai.expect;

		window.chai.config.includeStack = true;
		window.chai.config.showDiff = false;

		beforeEach(function() {
			this.sinon = sinon.sandbox.create();
		});

		afterEach(function(){
			this.sinon.restore();
		});

		var TYPES_OF_TESTS = ['integration'];

		TYPES_OF_TESTS.forEach(function(type) {
			describe[type] = function(description, tests) {
				var command = 'skip-' + type + '-tests';
				var enclosure = location.hash.indexOf(command) > -1 ? describe.skip : describe;
				return enclosure(description, tests);
			};
		});

	script(src="node_modules/q/q.js")
	script(src="test/helpers.js")
	script(src="test.js")

	script.
		window.mocha.checkLeaks();

		var myGlobals = [];
		var ieIframeNameGlobals = ['app', 'submit-trap'];
		var ieFirebaseGlobals = ['pLPCommand1', 'pRTLPCB1', 'pLPCommand2', 'pRTLPCB2'];

		window.mocha.globals(myGlobals.concat(ieIframeNameGlobals).concat(ieFirebaseGlobals));
		window.mocha.run();
