extends ../layout

block page.title
	| Acord de licenţă

block content
	h2 Acord de licenţă

	p încheiat la ____________
	p între:

	h3 I. Părţile contractului.

	p
		b Avocatul Donciu Anatolie
		| , avînd biroul său în mun. Chişinău, str. 31 August 1989,
		| nr. 129, of. 401, MD-2012, deţinătorul licenţei nr. 2658
		| din 13 iunie 2014, autorizat în baza contractului de creaţie
		| în coautorat din data de 04 august 2014 încheiat cu Vlad Gurdiga,
		| să acorde licenţe şi să acţioneze din numele şi în interesul
		| ambilor Coautori, denumit în continuare 
		b Coautor,

	p(style="text-align: center")
		b şi

	p
		b Avocatul
		|  ________________, avînd biroul său în mun. Chişinău,
		| str. ____________________________ nr. _____, deţinătorul
		| licenţei nr. _____ din ____________, denumit în continuare
		b  Utilizator.

	p
		| În conformitate cu Legea nr. 139 din 02 iulie 2010 privind
		| dreptul de autor şi drepturile conexe, părtile, de comun acord,
		| au convenit asupra următoarelor clauze contractuale:

	h3 Termeni contractuali utilizaţi:

	p
		b Licenţă:
		|  drept acordat de Coautor Utilizatorului de a utiliza un
		| program de calculator.

	p
		b Program:
		|  program de calculator denumit “Monitorul PINJ” încărcat pe
		| adresa de web http://pinj.pentru.md.

	h3 II. Obiectul acordului.

	ol
		li
			| În conformitate cu prezentul acord Coautorul i-a acordat
			| Utilizatorului licenţă neexclusivă de a utiliza Programul
			| cu funcţiile căruia Utilizatorul este cunoscut de pe adresa
			| de web sus menţionată.
		li
			| Programul nu este vîndut, ci se află sub licenţă. Coautorul
			| nu a vîndut (cedat) nici un drept asupra produsului, ci
			| acordă Utilizatorului ca posesor de licenţă, doar dreptul
			| de a folosi Programul în conformitate cu clauzele acestui acord.
		li
			| Prin acceptarea acestui acord de licenţă, Utilizatorul a intrat
			| automat în posesia unei licenţe, care-i oferă dreptul neexclusiv
			| de folosire a Programului.
		li
			| Coautorul păstrează dreptul de autor şi de proprietate asupra
			| programului, indiferent de forma sau suportul în/sau pe care
			| acesta există. Acordarea licenţei nu implică şi transferul
			| dreptului de autor sau orice alte drepturi derivate.

	h3 III. Drepturi şi limitări.

	ol
		li
			| Utilizatorul poate utiliza, accesa sau interacţiona în orice
			| fel cu Programul de pe orice calculator, tabletă, smartphone.
		li
			| Utilizatorul nu este în drept să refacă programul sursă sau
			| să-l decompileze.

	h3 IV. Termenul licenţei.

	ol
		li
			| Licenţa se acordă pe un termen de un an cu începere din ____________.
		li
			| Licenţa acordată se prelungeşte pe acelaşi termen şi pentru
			| anul următor, fără a fi necesară vreo formalitate, dacă
			| Utilizatorul achită preţul acesteia în termenul şi condiţiile
			| specificate la cap. V al prezentului acord.

	h3 V. Preţul licenţei (remuneraţia de autor).

	ol
		li Licenţa se acordă la un preţ de 15 USD anual.
		li
			| Preţul licenţei se achită în avans cu o lună înainte de
			| începerea perioadei de acţiune a licenţei. 
		li
			| Preţul licenţei se achită în MDL conform cursului oficial al
			| BNM la data plăţii în contul nr. 22245716392 deschis în BC
			| “Eurocreditbank” SA, cod bancă ECBMMD2X, beneficiar CA Donciu
			| Anatolie, cod fiscal 0972506427204. 

	h3 VI. Incetarea licenţei/rezilierea acordului.

	ol
		li
			| Licenţa încetează să producă efecte şi Utilizatorul nu va
			| mai primi notificări, odată cu expirarea termenului pentru
			| care a fost acordată, cu excepţia prelungirii acesteia în
			| condiţiile prevăzute de acord.
		li
			| Fără a leza alte drepturi, Coautorul poate rezilia acordul
			| dacă Utilizatorul nu i-a respectat clauzele şi condiţiile.
		li
			| Utilizatorul este în drept să rezilieze oricînd acordul,
			| punînd în vedere Coautorul prin intermediul poştei electronice
			| la adresa info@pinj.pentru.md.

	h3 VII. Confidenţialitate.

	ol
		li
			| Coautorul este ţinut să respecte cu stricteţe obligaţia de
			| confidenţialitate. Acesta obligație va fi respectata în
			| legătură cu orice informaţie, document, înscris sau orice
			| alt instrument material/virtual de stocare a informațiilor
			| care conţin informaţii sau date furnizate de Utilizator sau
			| se fundamentează pe acestea în scopul utilizării licenţei şi
			| a căror confidenţialitate a fost solicitată de Utilizator.
		li
			| Obligația de confidențialitate va fi înțeleasa ca fiind
			| obligația stricta de a nu divulga către terți informații,
			| documente, înscrisuri sau alte instrumente de felul celor
			| descrise în paragraful precedent.

	h3 VIII. Alte prevederi.

	ol
		li
			| Coautorul nu poate fi făcut responsabil pentru nici un fel
			| de pagubă directă, indirectă, subsecventă sau accidentală
			| rezultată din exploatarea sau incapacitatea de utilizarea
			| a acestui produs. 
		li
			| Totodată, Utilizatorul recunoaşte că informaţia furnizată
			| de Program are doar caracter informativ şi nu constituie
			| o bază în vederea organizării procesului de muncă a
			| Utilizatorului. În legătură cu aceasta Coautorul nu suportă
			| nici o consecinţă juridică negativă pentru el. 
		li
			| Utilizatorul acceptă că Programul furnizează informaţia de
			| pe portalurile urmărite de acesta (instante.justice.md şi
			| www.csj.md) în măsura în care ele sunt încărcate de responsabilii
			| acestor portaluri. 
		li
			| Prin folosirea acestui program, dumneavoastră certificaţi ca
			| aţi citit acest acord, l-aţi înţeles şi aţi fost de acord să
			| respectaţi clauzele şi condiţiile stipulate în cadrul acestuia.

	table(style="margin: 2em 0 6em;")
		tr
			th(style="text-align: left") Coautor
			th(style="text-align: right") Utilizator
		tr
			td Donciu Anatolie
			td(style="text-align: right") ______________________
