extends ../layout

block page.title
	| Home

block page.head
	link(rel="prefetch", href="index/images/email.png")
	link(rel="prefetch", href="client-list.html")
	link(rel="prefetch", href="client-list.js")
	link(rel="prefetch", href="registration.html")
	link(rel="prefetch", href="registration.js")
	link(rel="prefetch", href="https://pinj-scripts.herokuapp.com/echo?to=%2Fclient-list.html")

block content
	h2 Despre sistem

	p Acest sistem vă scuteşte de căutări manuale pe paginile 
		a(href="//instante.justice.md/") instante.justice.md
		|	şi 
		a(href="//csj.md") csj.md
		| : urmăreşte evoluţia dosarelor clienţilor dumneavoastră şi vă trimite 
		a(href="/index/images/email.png") un email
		|  cînd se schimbă ceva.

	form#authentication-form(method="post", action="https://pinj-scripts.herokuapp.com/echo?to=%2Fclient-list.html")
		p Dacă v-aţi înregistrat deja, aici vă puteţi autentifica:

		fieldset.glued-fields
			input(name="email", type="text", placeholder="Adresa de email")
			input(name="password", type="password", placeholder="Parola")

		a#password-recovery(href="/password-recovery.html") Uitată?

		button(type="submit") Autentifică

	p#already-authenticated.information.message(style="display: none")
		| Sunteţi autentificat(ă) deja. Vă puteţi 
		a(href="/client-list.html") administra lista de clienţi
		| .

block page.scripts
	script(src="index.js")
