extends ../layout

block page.title
	| Home

block page.head
	link(rel="prefetch", href="https://pinj-scripts.herokuapp.com/echo?to=%2Fclient-list.html")

block content
	h2 Despre sistem

	p Acest sistem vă scuteşte de căutări manuale pe paginile 
		a(href="//instante.justice.md/") instante.justice.md
		|	şi 
		a(href="//csj.md") csj.md
		| : urmăreşte evoluţia dosarelor clienţilor dumneavoastră şi vă trimite 
		a(href="/index/images/email.png") un email
		|  cînd se schimbă ceva.

	form#authentication-form(
		method="post",
		action="https://pinj-scripts.herokuapp.com/echo?to=%2Fclient-list.html",
		novalidate="novalidate"
	)
		p Dacă v-aţi înregistrat deja, aici vă puteţi autentifica:

		fieldset.glued-fields
			input(name="email", type="email", placeholder="Adresa de email", autofocus="autofocus")
			input(name="password", type="password", placeholder="Parola")

		a#password-recovery(href="/password-recovery.html") Uitată?

		button(type="submit") Autentifică

	p
		| Sau dacă încă nu aveţi cont, vă puteţi înregistra pe 
		a(href="/registration.html") pagina de înregistrare
		| . Primele 3 luni sunt gratuite, şi înregistrarea durează
		| mai puţin de 30 de secunde.

	p#already-authenticated.information.message(style="display: none")
		| Sunteţi autentificat(ă) deja. Vă puteţi 
		a(href="/client-list.html") administra lista de clienţi
		| .

block page.scripts
	script(src="index.js")
