.closing-message
	p Stimați utilizatori,

	p
		| Din cauză că sunt insuficiente persoane dornice să
		| achite costul licenței pentru utilizarea sistemului
		| “Monitorul PINJ”, fapt pentru care, nu se pot acoperi
		| cheltuielile de întreținere a acestuia, Vă anunțăm că
		| Monitorul PINJ va fi oprit la 24 septembrie 2015.

	p Cu respect,
	p Echipa Monitorul PINJ
