p Întrebările şi sugestiile ni le puteţi trimite la adresa: 
	a(href="mailto:info@pinj.pentru.md") info@pinj.pentru.md
	| . Mai multe detalii despre condiţiile de utilizare găsiţi
	| pe pagina de <a href="/terms.html">Termeni şi condiţii</a>.
	| Vă mulţumim.
