head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

	title
		include ./app-title
		|  — 
		block page.title

	<!--[if !IE]>
	link(rel="dns-prefetch", href="//pinj-scripts.herokuapp.com")
	link(rel="dns-prefetch", href="//auth.firebase.com")
	link(rel="dns-prefetch", href="//pinj-dev.firebaseio.com")
	<![endif]-->

	<!--[if IE]>
	link(rel="prefetch", href="//pinj-scripts.herokuapp.com")
	link(rel="prefetch", href="//auth.firebase.com")
	link(rel="prefetch", href="//pinj-dev.firebaseio.com")
	<![endif]-->

	block page.head

	link(href='//fonts.googleapis.com/css?family=Alegreya+SC:900&text=Monitorul%20PINJ404', rel='stylesheet', type='text/css')
	link(href='//fonts.googleapis.com/css?family=Alegreya:400italic,400&subset=latin-ext', rel='stylesheet', type='text/css')
	link(href='//fonts.googleapis.com/css?family=Alegreya+SC&subset=latin,latin-ext', rel='stylesheet', type='text/css')
	link(href='/common/css/global.css', rel='stylesheet', type='text/css')
	link(rel='shortcut icon', type='image/x-icon', href='/common/images/favicon.ico')

	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-32955269-3', 'auto');
		ga('send', 'pageview');
