.ie9-(style="display: none")
	h2 Bună ziua!

	p Pentru a folosi acest sistem aveţi nevoie de un browser modern. Vă recomandăm cîteva opţiuni:

	ul
		li
			a(href="https://www.google.com/chrome/browser/desktop/") Google Chrome
		li
			a(href="https://www.mozilla.org/en-US/firefox/new/") Firefox
		li
			a(href="http://windows.microsoft.com/en-us/internet-explorer/download-ie") Internet Explorer 10+

	p Internetul va arăta mult mai bine!
