nav
	input#menu-toggle(type="checkbox")
	label(for="menu-toggle") ▾ Meniu
	a(href="/") Home
	a(href="/registration.html") Înregistrare
	a(href="/password-recovery.html") Recuperarea parolei
	a.private(href="/client-list.html") Lista de clienţi
