nav
	input#menu-toggle(type="checkbox")
	label(for="menu-toggle") Meniu
	a(href="/") Home
	a(href="/registration.html") Înregistrare
	a.private(href="/client-list.html") Lista de clienţi
	a#logout.private(href="/") Ieşire
