nav
	input#menu-toggle(type="checkbox")
	label(for="menu-toggle") Meniu
	a(class=currentIf(filename, 'index'), href="/") Home
	a(class=currentIf(filename, 'registration'), href="/registration.html") Înregistrare
	a(class=currentIf(filename, 'client-list'), href="/client-list.html").private Lista de clienţi
	a#logout.private(href="/") Ieşire
