doctype html
html
	include ./common/head

	body
		header
			h1 Monitorul PINJ
			include ./common/navigation

		block content
		include ./common/footer

		script(src="https://cdn.firebase.com/js/client/2.0.6/firebase.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.1.2/q.min.js")
		block page.scripts
