doctype html
html
	include ./common/head

	body
		header
			h1
				include ./common/app-title

			include ./common/navigation

		block content
		include ./common/ie9-
		include ./common/footer

		script(src="https://cdn.firebase.com/js/client/2.2.7/firebase.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js")
		script.
			Q.longStackSupport = true

		block page.scripts
