head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

	title Monitorul PINJ — 
		block page.title

	<!--[if !IE]>
	link(rel="dns-prefetch", href="//pinj-scripts.herokuapp.com")
	link(rel="dns-prefetch", href="//auth.firebase.com")
	link(rel="dns-prefetch", href="//pinj-dev.firebaseio.com")
	<![endif]-->

	<!--[if IE]>
	link(rel="prefetch", href="//pinj-scripts.herokuapp.com")
	link(rel="prefetch", href="//auth.firebase.com")
	link(rel="prefetch", href="//pinj-dev.firebaseio.com")
	<![endif]-->

	block page.head

	link(href='//fonts.googleapis.com/css?family=Alegreya:900&text=Monitorul%20PINJ404', rel='stylesheet', type='text/css')
	link(href='//fonts.googleapis.com/css?family=Alegreya:400italic,400&subset=latin-ext', rel='stylesheet', type='text/css')
	link(href='/common/style/global.css', rel='stylesheet', type='text/css')
