extends ../layout

block page.title
	| Lista de clienţi

block content
	h2
		block page.title

	p Aici introduceţi lista clienţilor: cîte un nume, denumire, sau număr
		| de dosar pe linie. Numerele de dosar trebuie să fie prefixate cu “#”, de
		| exemplu: #20-2e-767-22012013.

	form#client-list-form
		fieldset.glued-fields
			img#client-list-spinner(src="/common/images/spinner.gif", style="display: none;")
			textarea(name="client-list")

		button(type="submit") Salvează

	p#not-authenticated.information.message(style="display: none")
		| Pentru a vă administra lista de clienţi, trebuie mai întîi să vă autentificaţi.

block page.scripts
	script(async, defer, src="client-list.js")
